:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;
    font-family: Montserrat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}